<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Uniquement pour la synchronisation chiffrée, qui reste facultative :
         hors de celle-ci, l'application ne contacte aucun serveur. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheCode"
        tools:targetApi="33">

        <activity
            android:name=".LaunchActivity"
            android:exported="true"
            android:theme="@style/Theme.TheCode.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".VaultActivity"
            android:exported="false"
            android:label="@string/vault_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".autofill.AutofillAuthActivity"
            android:exported="true"
            android:theme="@style/Theme.TheCode.Transparent"
            android:excludeFromRecents="true"
            android:taskAffinity="" />

        <service
            android:name=".autofill.TheCodeAutofillService"
            android:exported="true"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE"
            tools:targetApi="o">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/autofill_service" />
        </service>

    </application>

</manifest>
