<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>fr.julsql.thecode</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>thecode</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>google-sign-in</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_IOS_REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Pour lire le QR code d'un carnet affiché sur un autre appareil. Aucune image n'est enregistrée ni envoyée.</string>
	<key>GoogleIOSClientID</key>
	<string>$(GOOGLE_IOS_CLIENT_ID)</string>
</dict>
</plist>
