<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Schéma d'URL permettant à l'extension AutoFill d'ouvrir l'app
	     (ex. quand aucune clé n'est définie, pour que l'utilisateur la
	     renseigne). -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>fr.julsql.thecode</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>thecode</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
