{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <title>TheCode</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/main/assets/css/main.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/main/images/logo.svg">
</head>

<body class="is-preload">
<!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
            <header id="header" class="alt">
                <a href="{% url 'home' %}"><span class="logo"><img src="/static/main/images/logo.svg" height="200" width="200" alt="" /></span></a>
                <h1>TheCode</h1>
                <p>Générateur de mots de passe sécurisés dont vous n'avez pas à vous souvenir !</p>
            </header>

        <!-- Nav -->
            <nav id="nav">
                {% block nav %}{% endblock %}
            </nav>
            <div id="main">
                {% block main %}{% endblock %}
            </div>
    </div>

    <footer id="footer">
        <section>
            <h2>L'auteur</h2>
            <p>Crée par Jul SQL, étudiante en école d'ingénieur.</p>
        </section>
        <p class="copyright">&copy;Jul SQL 2023. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>

{% block javascript %}
{% endblock %}
            <script src="/static/main/assets/js/jquery.min.js"></script> <!--Logo ouverture-->
            <script src="/static/main/assets/js/jquery.scrollex.min.js"></script> <!--Niveau ne reste pas en haut de la page-->
            <script src="/static/main/assets/js/jquery.scrolly.min.js"></script> <!--Bouton glisse dans page-->
            <script src="/static/main/assets/js/browser.min.js"></script> <!--Couleur niveau page change-->
            <script src="/static/main/assets/js/breakpoints.min.js"></script> <!--Enlève tout-->
            <script src="/static/main/assets/js/util.js"></script> <!--Enlève tout-->
            <script src="/static/main/assets/js/main.js"></script> <!--Enlève tout-->
</body>
</html>